[Unit]
Description=Handle system password requests with blink(1) and USB keyfob
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target paths.target basic.target

[Service]
ExecStart=/usr/libexec/password-agent/password-agent /usr/libexec/password-agent/blink1
